<%- include('partials/header') %>
    <main>
        <div class="student-info">
            <h1>Student Information</h1>
                <p>Name: <%= name %></p>
                <p>Id #: <%= id %></p>
                <p>Email: <%= email %></p>
                <p>Address: <%= address %></p>
        </div>
    </main>
<%- include('partials/footer') %>